biblioteca_xsd.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Definición de elementos resusables en todo el xsd-->
    <xs:element name="titulo" type="noVacio"/>
    <xs:element name="indice" type="noVacio"/>
    <xs:element name="contenido">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="noVacio">
                    <xs:attribute name="url" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:anyURI">
                                <xs:minLength value="7"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!-- Definición del atributo páginas común para todo el .xsd-->
    <xs:attribute name="paginas" type="positivo"></xs:attribute>

    <!-- Tipo de datos con restricciones para todo el .xsd-->
    <xs:simpleType name="noVacio">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="positivo">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Nodo raíz de biblioteca-->
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>

                <!-- Definicion del elemento libro-->
                <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="titulo"/>
                            <xs:element name="capitulos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="capitulo" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="titulo"/>
                                                    <xs:element ref="contenido"/>
                                                </xs:sequence>
                                                <xs:attribute ref="paginas" use="required"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="indice"/>
                            <xs:element name="sinopsis" type="noVacio"/>
                        </xs:sequence>

                        <!-- Atributos de libro-->
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[L][0-9]{4}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="novela"/>
                                    <xs:enumeration value="infantil"/>
                                    <xs:enumeration value="didactico"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute ref="paginas" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>

                <!-- Definicion del elemento revista-->
                <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="titulo"/>
                            <xs:element name="numero" type="positivo"/>
                            <xs:element ref="indice"/>
                            <xs:element name="secciones_revista">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seccion_revista" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element ref="contenido"/>
                                                </xs:sequence>
                                                <xs:attribute ref="paginas" use="required"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- Atributos de revista-->
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[R][0-9]{4}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="informática"/>
                                    <xs:enumeration value="corazón"/>
                                    <xs:enumeration value="coches"/>
                                    <xs:enumeration value="investigacion"/>
                                    <xs:enumeration value="otras"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute ref="paginas" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>

                <!-- Definición del elemento periodico-->
                <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="secciones_periodico">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seccion_periodico" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="articulos">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element ref="contenido"/>
                                                                        </xs:sequence>
                                                                        <!-- Atributos de artículo-->
                                                                        <xs:attribute name="autor" type="noVacio" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <!-- Atributos de "seccion_periodico"-->
                                                <xs:attribute name="tipo_seccion" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="económica"/>
                                                            <xs:enumeration value="opinión"/>
                                                            <xs:enumeration value="deportes"/>
                                                            <xs:enumeration value="nacional"/>
                                                            <xs:enumeration value="internacional"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element ref="indice"/>
                        </xs:sequence>
                        <!-- Atributos de periodico-->
                        <xs:attribute name="id" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[P][0-9]{4}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="tipo_clase" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="nacional"/>
                                    <xs:enumeration value="internacional"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="fecha_publicacion" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:date"/>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
